<div class="row">
  <div class="input-field">
    <input id="realm_name" type="text" class="autocomplete">
    <label for="realm_name">Realm Name</label>
  </div>
</div>
<div class="row">
  <div class="input-field">
    <input id="character_name" type="text" class="validate">
    <label for="character_name">Character Name</label>
  </div>
</div>
