<div class="fullPageContainer row fullPageImage verticalCenter" style="background-image:url(/assets/main-background.png)">
  <div>
    <div class="col s1"></div>
    <form class="col s5 l4"><%= render partial: 'search_params' %></form>
  </div>
</div>
