.verticalCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fullPageContainer {
  height: 100%;
  margin-bottom: 0px !important;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center;
  background-size: cover;
}

#characterCreationContainer {
  position: relative;
  width: 100%;
  height: 45px;
}

.characterIcon {
  top: 10px;
  left: 10px;
  border-radius: 100%;
  position: absolute;
  width: 84px;
  height: 84px;
  animation-name: characterCreation;
  animation-duration: 1s;
  animation-timing-function:linear;
  background-image: url("http://render-us.worldofwarcraft.com/character/bleeding-hollow/201/155844553-avatar.jpg");
  cursor: pointer;
}

.characterOpen {
  animation-name: characterOpen;
  animation-duration: 20s;
  animation-timing-function: linear;
}

@keyframes characterCreation{
  0%{
		left:100%;
		transform: scale(1, 0);
	}

  20% {
    left: 75%;
    transform: scale(1, .25)
  }

  40% {
    left: 50%;
    transform: scale(1, .5)
  }

  60% {
    left: 25%;
    transform: scale(1, .75);
  }

  80% {
    left: 0%;
    transform: scale(1, 1);
  }

  90% {
    left: -17px;
    transform: scale(.8, 1);
  }

	100%{
    left: 10px;
		transform: scale(1, 1);
	}
}

@keyframes characterOpen {
  0% {
    top: 10px;
    left: 10px;
  }



  80% {
    width: 100%;
    height: 100%;
    background-image: url("http://render-us.worldofwarcraft.com/character/bleeding-hollow/201/155844553-main.jpg");
  }

  100% {
    width: 100%;
    height: 100%;
    background-image: url("http://render-us.worldofwarcraft.com/character/bleeding-hollow/201/155844553-main.jpg");
  }
}
